@using WebExplorerWithKendoUI.Models
@model List<Node>
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="example">
        <div class="demo-section k-content">
            <div id="treeview"></div>
        </div>

        <script>
            var x = JSON.parse('@Json.Serialize(Model)');
            console.log(x);
            
            $(document).ready(function ()
            {
                var treeview = $("#treeview").kendoTreeView(
                    {
                        dataTextField: "name",
                        dataSource: x,
                        loadOnDemand: false

                    }).data("kendoTreeView");
                var rootSelect = treeview.findByText("Root");
                treeview.select(rootSelect);
                var handleTextBox = function (callback)
                    {
                        return function (e)
                        {
                            if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode)
                            {
                                callback(e);
                            }
                        };
                };
                
                $("#removeNode").click(function ()
                    {
                        var selectedNode = treeview.select();
                        treeview.remove(selectedNode);
                    });

                $("#expandAllNodes").click(function ()
                    {
                        treeview.expand(".k-item");
                    });


                var append = handleTextBox(function ()
                    {
                    var selectedNode = treeview.select();
                    var id = (treeview.dataItem(selectedNode).id);
                    console.log(typeof (id));
                            // passing a falsy value as the second append() parameter
                            // will append the new node to the root group
                        if (selectedNode.length == 0)
                        {
                            selectedNode = null;
                        }

                    $.ajax({
                        type: "POST",
                        url: "Home/AddFolder",
                        dataType: "json",
                        data: { id: id, name: $("#appendNodeText").val()},
                        success: function (data) {
                            console.log(data);
                            treeview.setDataSource(new kendo.data.HierarchicalDataSource({
                                data: data
                            }))
                        }
                    })
                    });

                $("#appendNodeToSelected").click(append);
                

                //// datasource actions

            });
        </script>
    </div>




</body>
</html>